nav {
    margin-bottom: 1em;
}

.note-item {
    background-color: white;
    border: 1px solid white;
    width: 100%;
    padding: 10px 15px 10px 15px;
}

.note-item div h5 {
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.note-item div p {
    margin: 0;
}

hr {
    margin: 5px 0 5px 0;
}

.no-notes {
    text-align: center;
    width: 100%;
}

.pinky {
    background-color: #ffb3ba;
}

.purpley {
    background-color: #baffc9;
}

.note-content {
    white-space: pre;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.hidden {
    display: none;
}

#add-note:hover {
    cursor: pointer;
}

.note-delete {
    float: right;
    cursor: pointer;
}

.add-form {
    border-bottom: 1px solid blue;
    padding: 0;
    padding-bottom: 1em;
    align-content: center;
}

.add-form input {
    height: 60px;
    vertical-align: top;
    border-radius: 0; 
    border: 1px solid gray;
}

.add-form input[type="button"] {
    background: pink;
    border: none;
}

.add-form textarea {
    vertical-align: top;
}